doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title ATCUW - About

        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')
        include includes/css

    body

        include includes/header

        include includes/navbar

        section.page-section.about-heading
            .container
                .about-heading-content
                    .row
                        .col-xl-9.col-lg-10.mx-auto
                            .bg-faded.rounded.p-5
                                h2.section-heading.mb-4
                                    span.section-heading-lower About
                                p
                                    | Founded in 2019, the Algorithmic Trading Club (formerly the Financial Engineering Club) set out to give students hands on experience with the core skills necessary to pursue a career in quantitative finance. 
                                p
                                    | We host workshops teach everything from basic programming Python to various data science methods to how to backtest and deploy a trading algorithm. 
                                p   
                                    | In addition, our meetings also include hands-on projects and guest speakers from the industry. 
                                p 
                                    | If you think you or your company would be interested in working with ATC, we'd love to hear from you.
                                h2.section-heading.mb-4
                                    span.section-heading-lower To Join ATC
                                p
                                    | Join the email list + one other social media in the #[a(href="socials.html") Social Media] tab. Members will attend at least 2 meetings per quarter, though more is recommended. 
                                
        section.page-section.about-heading
            .container
                .about-heading-content
                    .row
                        .col-xl-9.col-lg-10.mx-auto
                            .bg-two.rounded.p-5
                                h2.section-heading.mb-3
                                    span.section-heading-lower Meet our officers
    
        section.page-section
            .container
                .product-item  
                    img.product-item-img.mx-auto.d-flex.rounded.img-fluid.mb-3.mb-lg-0(src='assets/img/shilewen.jpg' alt='...')
                    .row
                        .col-xl-9.col-lg-10.mx-auto
                            .bg-two.p-4.rounded
                                h2.section-heading.mb-0
                                    span.section-heading-name Shile Wen (President)
                                p.mb-0
                                    | I'm a 3rd year CS major and have interned at QuantConnect and TradeTerminal. My hobbies include taking walks, cooking, and reading manga. 
                                    | If you have any questions feel free to reach out to me directly or indirectly through social media, I'd be more than happy to talk about career 
                                    | advice, trading, or anything in general.
                                p
                                    em
                                        | discord: shilewen#6581 email: shilewen[at]uw.edu
                                    a(href='https://www.facebook.com/groups/atcuw/', target="_blank", rel="noopener noreferrer")
                                        i.fab.fa-github.fa-lg
                                    a(href="https://www.linkedin.com/in/shile-w-77a5a3136/", target="_blank", rel="noopener noreferrer")
                                        i.fab.fa-linkedin.fa-lg
        section.page-section
            .container
                .product-item  
                    img.product-item-img.mx-auto.d-flex.rounded.img-fluid.mb-3.mb-lg-0(src='assets/img/Alicia.jpg' alt='...')
                    .row
                        .col-xl-9.col-lg-10.mx-auto
                            .bg-two.p-4.rounded
                                h2.section-heading.mb-0
                                    span.section-heading-name Alicia Stepin (Operations Officer)
                                p.mb-0
                                    | I'm a 3rd year student studying CS and Math. When I'm not doing school stuff,
                                    | I like making art, and cooking. If you have any questions or just want to talk feel
                                    | free to reach out to me  through social media or email.

                                p
                                    em
                                        | email: astepin[at]uw.edu
                                    a(href="https://www.linkedin.com/in/aliciastepin/", target="_blank", rel="noopener noreferrer")
                                        i.fab.fa-linkedin.fa-lg
    
        include includes/footer

        include includes/scripts
