doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title ATCUW - Contact

        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')
        include includes/css
    body

        include includes/header

        include includes/navbar

        section.page-section.cta
            .container
                .row
                    .col-xl-9.mx-auto
                        .cta-inner.bg-faded.text-center.rounded
                            h2.section-heading.mb-3
                                span.section-heading-lower Social Media
                            a(href="http://eepurl.com/daoySr", target="_blank", rel="noopener noreferrer") Join our mailing list
                            a(href="http://eepurl.com/daoySr", target="_blank", rel="noopener noreferrer")
                                i.far.fa-envelope
                            br
                            a(href='https://www.youtube.com/channel/UCM63WzsQL_M-Asd-pNjPE_w', target="_blank", rel="noopener noreferrer")
                                i.fab.fa-youtube.fa-3x
                            a(href='https://www.facebook.com/groups/atcuw/', target="_blank", rel="noopener noreferrer")
                                i.fab.fa-facebook-square.fa-3x
                            a(href="https://discord.gg/V8QuSgqMyk", target="_blank", rel="noopener noreferrer")
                                i.fab.fa-discord.fa-3x
                            a(href="https://www.linkedin.com/groups/8961977/", target="_blank", rel="noopener noreferrer")
                                i.fab.fa-linkedin.fa-3x
                            p 
                                | Questions? Contact us at atcuw@uw.edu
        include includes/footer

        include includes/scripts
