doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title ATCUW - Contact

        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')
        include includes/css
    body

        include includes/header

        include includes/navbar

        section.page-section.cta
            .container
                .row
                    .col-xl-9.mx-auto
                        .cta-inner.bg-faded.text-center.rounded
                            h2.section-heading.mb-3
                                span.section-heading-lower Sponsors
                            p 
                                | potential sponsors here
        include includes/footer

        include includes/scripts
