body {
    background-image: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url('../assets/img/bg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

p {
    line-height: 1.75;
    font-size: 1.3rem;
}

a {
    font-size: 1.3rem;
}



.text-faded {
    color: $white;
}

.site-heading {
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1;
    font-family: $headings-font-family;

    .site-heading-upper {
        display: block;
        font-size: 2rem;
        font-weight: 800;
    }

    .site-heading-lower {
        font-size: 5rem;
        font-weight: 150;
        line-height: 4rem;
    }
}

.page-section {
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.section-heading {
    text-transform: uppercase;

    .section-heading-upper {
        display: block;
        font-size: 1rem;
        font-weight: 800;
    }

    .section-heading-lower {
        display: block;
        font-size: 2rem;
        font-weight: 300;
    }

    .section-heading-name {
        display: block;
        font-size: 1.5rem;
        font-weight: 500;
    }
}

iframe {
    width: 800px;
    height: 450px;
}

.bg-faded {
    background-color: white;
}

.bg-two {
    background-color: lighten($primary, 50%);
}

.fa-youtube { 
    color:#FF0000;
    margin: .5rem; 
}

.fa-facebook-square {
    color:#4267B2;
    margin: .5rem;   
}

.fa-discord {
    color: #7289DA;
    margin: .7rem .5rem .3rem .5rem; 
}

.fa-linkedin { 
    color: #0e76a8;
    margin: .5rem; 
}

.fa-github { 
    color: #333;
    margin: .5rem; 
}





